/* ************************************************************* */
/*  Final Project – Web Portfolio - Menu CSS */
/* ************************************************************* */

/* loading fonts */
@font-face {
    font-family: 'ant'; src: url('https://fran0570.github.io/portfolio/fonts/AntrySans_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: 'big_noodle_titling'; src: url('https://fran0570.github.io/portfolio/fonts/big_noodle_titling.ttf');
}

:root {
    /* costum property/variable */
    /* colors */
    /* temporary place older colors */
    --primary-color: black;
    --primary-color-light: gray;
    --secondary-color: Blue;
    --secondary-color-light: Blue;
    --highlight-color: yellow;
    --white-color: white;
    /* spacing */
    --paddings: 2rem;
    --margins: 1rem;

    /* --bs-blue: red; */
    --bs-body-font-family: 'big_noodle_titling';
    --bs-body-font-size: 5rem;
    
}

/* Main styling for entire site */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* body {
} */

.navbar {
    transform-origin: left bottom;
    transform: skewY(-3deg);

    /* background-color: var(--bs-primary-rgb) !important; */
}

/* .nav-link:hover {
    background-color: var(--bs-blue) !important;
} */

.hero {
    transform-origin: left bottom;
    transform: skewY(-3deg);
}

.hero h1 {
    font-size: 10rem;
}

.title-bar-web, .title-bar-media {
    transform-origin: left bottom;
    transform: skewY(-3deg);

    background-image: url("/images/maggy-taunting-red-sun.jpg");
}

.title-bar-code, .title-bar-graph {
    transform-origin: left bottom;
    transform: skewY(3deg);
    
    background-image: url("/images/maggy-taunting-red-sun.jpg");
}