/* ************************************************************* */
/*  Final Project – Web Portfolio - CSS */
/* ************************************************************* */

/* loading fonts */
@font-face {
    font-family: 'AntrySans'; src: url('/fonts/AntrySans.otf');
    /* font-family: 'ant'; src: url('https://fran0570.github.io/portfolio/fonts/AntrySans_PERSONAL_USE_ONLY.otf'); */
}
@font-face {
    font-family: 'big_noodle_titling'; src: url('/fonts/big_noodle_titling.ttf');
    /* font-family: 'big_noodle_titling'; src: url('https://fran0570.github.io/portfolio/fonts/big_noodle_titling.ttf'); */
}

:root {
    /* costum property/variable */
    --bs-body-font-family: 'big_noodle_titling';
    --bs-body-font-size: 32px;
    
}

.btn-danger {
    /* bs colors property/variable */
    --bs-btn-color: #fff;
    --bs-btn-bg: #e92d40;
    --bs-btn-border-color: #e92d40;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e92d40;
    --bs-btn-disabled-border-color: #e92d40;
}

/* Main styling for entire site */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ************************************************************* */
/* Skip button styling */
/* ************************************************************* */
/* this will improve the user experience and accessibility */
.access-skip-links {
    margin: 0;
    padding: 0;
}
  
.access-skip-links a {
    position: absolute;
    top: -3em;
    padding: .5em 1em;
    z-index: 99;
}
  
.access-skip-links a:focus {
    top: 0;
    left: 60%;
}

/* ************************************************************* */
/*  Navigation Bar Styling
    Going from one column to one row with screen size */
/* ************************************************************* */
.navbar {
    transform-origin: left bottom;
    transform: skewY(-3deg);
}

.nav-button {
    width: 992px !important;
    text-align: left;
}

/* -------hero text formating------- */
.hero {
    transform-origin: left bottom;
    transform: skewY(-3deg);
}

.hero-text {
    font-family: 'AntrySans';
}

.heart {
    line-height: 80% !important;
    font-size: 40vw !important;
}

.felt {
    line-height: 80% !important;
    font-size: 35vw !important;
}

.studio {
    line-height: 80% !important;
    font-size: 37vw !important;
}

/* -------text formating------- */
h2 {
    font-size: 150px !important;
}

h3 {
    font-size: 100px !important;
}

h4 {
    font-size: 32px !important;
}

a {
    font-size: 30px !important;
}

p {
    font-size: 20px !important;
}

.logo {
    position: absolute;
    top: 100px;
    left: 250px;
    z-index: 1;
}

.title-bar-web, .title-bar-media {
    transform-origin: left bottom;
    transform: skewY(-3deg);
}

.title-bar-code, .title-bar-graph {
    transform-origin: left bottom;
    transform: skewY(3deg);
}

.card-img-top {
    position: absolute;
    top: -50%;
}

.card-web {
    position: absolute;
    top: 1060px;
}

.card-photo {
    position: absolute;
    top: 1490px;
}

.card-art {
    position: absolute;
    top: 1950px;
}

.card-game {
    position: absolute;
    top: 2420px;
}

.iphone {
    position: absolute;
    left: -60px;
    top: 2960px;
}

.poster-text {
    position: absolute;
    top: 3000px;
    width: 95%;
}

.text-mobile {
    margin-bottom: 20%;
}

.marilyn {
    position: absolute;
    top: 2725px;
    left: -500px;

    height: 1150px;
    width: auto;
}

.two-img {
    position: absolute;
    top: 3050px;
    left: 180px;

    height: 320px;
    width: auto;
    transform: rotate(3deg);
}

.doit-img {
    position: absolute;
    top: 2650px;
    left: 200px;

    height: 320px;
    width: auto;
}

.container-footer {
    position: absolute;
    top: 3550px;
    color: white;
}

/* ************************************************************* */
/* Media Query 
   No specific media queries and breakpoints are required but 
   should be used as necessary will us 768px, and 992px */
/* ************************************************************* */
/* Medium Screens (tablets) */
@media screen and (min-width: 768px) {
    
    .navbar-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-item:nth-child(1) {
        grid-column: 1 / 2;
    }

    .nav-button {
        width: 384px !important;
        text-align: left;
    }

    .hero {
        margin: 0px;
    }
    
    .heart {
        line-height: 83% !important;
        font-size: 40vw !important;
    }
    
    .felt {
        line-height: 63% !important;
        font-size: 35vw !important;
    }
    
    .studio {
        line-height: 83% !important;
        font-size: 37vw !important;
    }
    
    /* -------text formating------- */
    h2 {
        font-size: 220px !important;
    }
    
    h3 {
        font-size: 160px !important;
    }
    
    .card-web {
        position: absolute;
        top: 1100px;
    }
    
    .card-photo {
        position: absolute;
        top: 1620px;
    }
    
    .card-art {
        position: absolute;
        top: 2200px;
    }
    
    .card-game {
        position: absolute;
        top: 2780px;
    }

    .logo {
        top: 280px;
        left: 500px;
    }
    
    .iphone {
        top: 3370px;
        width: 80%;
    }

    .poster-text {
        top: 3380px;
        width: 98%;
    }
    
    .text-mobile {
        margin-bottom: 10%;
    }
    
    .marilyn {
        top: 3080px;
        left: -500px;
        height: 1450px;
    }
    
    .two-img {
        top: 3500px;
        left: 300px;
        height: 400px;
    }
    
    .doit-img {
        top: 3050px;
        left: 400px;
        height: 320px;
        width: auto;
    }
    
    .container-footer {
        top: 4200px;
    }
}

/* Large Screens (desktop) */
@media screen and (min-width: 992px) {

    h1 {
        font-size: 100px !important;
    }
    
    h2 {
        font-size: 200px !important;
    }
    
    h3 {
        font-size: 120px !important;
    }
    
    a {
        font-size: 50px !important;
    }

    .felt {
        line-height: 65% !important;
    }
    
    .studio {
        line-height: 75% !important;
    }
    
    .logo {
        top: 200px;
        left: 500px;
        width: 700px;
    }
    
    .card-web {
        position: absolute;
        top: 1400px;
    }
    
    .card-photo {
        position: absolute;
        top: 1920px;
    }
    
    .card-art {
        position: absolute;
        top: 2500px;
    }
    
    .card-game {
        position: absolute;
        top: 3080px;
    }

    .iphone {
        top: 3700px;
        width: 70%;
        left: 400px;
    }

    .poster-text {
        top: 3720px;
        width: 52%;
        left: 470px;
    }
    
    .text-mobile {
        margin-bottom: 5%;
    }
    
    .marilyn {
        top: 3400px;
        left: -500px;
        height: 1450px;
    }
    
    .two-img {
        top: 3850px;
        left: 500px;
        height: 400px;
    }
    
    .doit-img {
        top: 3350px;
        left: 300px;
        height: 440px;
        width: auto;
    }
    
    .container-footer {
        top: 4500px;
    }
}
    /* Large Full Screens (desktop) */
@media screen and (min-width: 1440px) {

    .navbar-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    h1 {
        font-size: 100px !important;
    }
    
    h2 {
        font-size: 200px !important;
    }
    
    h3 {
        font-size: 120px !important;
    }
    
    a {
        font-size: 50px !important;
    }

    .felt {
        line-height: 63% !important;
    }
    
    .studio {
        line-height: 81% !important;
    }
    
    .logo {
        top: 400px;
        left: 900px;
        width: 700px;
    }

    .card-web {
        position: absolute;
        top: 1600px;
    }
    
    .card-photo {
        position: absolute;
        top: 2120px;
    }
    
    .card-art {
        position: absolute;
        top: 2700px;
    }
    
    .card-game {
        position: absolute;
        top: 3280px;
    }
    
    .iphone {
        top: 4000px;
        width: 70%;
        left: 460px;
    }

    .poster-text {
        top: 4050px;
        width: 52%;
        left: 580px;
    }
    
    .text-mobile {
        margin-bottom: 5%;
    }
    
    .marilyn {
        top: 3500px;
        left: -500px;
        height: 1450px;
    }
    
    .two-img {
        top: 4200px;
        left: 900px;
        height: 400px;
    }
    
    .doit-img {
        top: 3600px;
        left: 400px;
        height: 440px;
        width: auto;
    }
    
    .container-footer {
        top: 4600px;
        right: 20px;
    }
}